# compiled folders
project/
target/

# data folders
src/main/resources

# vim buffer
*.swp

# data files
*.csv

# this thing
*.DS_Store

# get the preview photos
! src/main/resources/CandidateCluster.png
! src/main/resources/CandidateHub.png
